@import '../../global/variable';

.home {
    .tabHeader {
        height: 65px;
        line-height: 65px;
        position: absolute;
        top: 0;
        background-color: #fff;
        border-bottom: 1px solid #e5e3e8;
        font-size: $mainFontSize;
        z-index: 8;
        a {
            width: 150px;
            position: relative;
            &.active::after {
                content: '';
                position: absolute;
                bottom: -13px;
                left: -25%;
                width: 150%;
                height: 5px;
                background-color: $highlightColor;
            }
        }
    }
}

.homeTabBoxsWrap{
    width: 100%;
    position: absolute;
    top: 65px;
    bottom: 0;
    height: auto!important;
}

.homeTab1 {
    height: 2200px;
}