@import '../../assets/styles/_variable.scss';

.editArea-wrap {
    width: 380px;
    height: 100%;
    min-height: 600px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #f5f5f5;
    z-index: 1001;
    border-right: 1px solid #dfdfdf;
    padding: 15px;
    overflow-y: auto;
    > h2 {
        line-height: 35px;
        border-bottom: 1px solid #d3d3d3;
    }
}

.editArea {

}

.editArea-content-models {
    /*display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;*/
    a {
        float: left;
        margin-right: 30px;
        margin-top: 30px;
        position: relative;
        border-color: #000;
        &:after {
            position: absolute;
            content: attr(data-pseudo-title);
            width: 100%;
            height: 100%;
            text-align: center;
            display: block;
            //line-height: 160px;
        }
        /*&:hover {

        }*/
    }
}