html, body, #root, #container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#container {
    overflow-y: auto;
}

.drag_able-block:hover {
    border: 1px dashed #dfdfdf;
}

.drag_able-block.noDrag {
    &:hover {
        border: 1px dashed transparent;
    }
}

.drag_able-text {
    &:focus {
        border: 1px solid #dfdfdf;
        outline: #a6c7ff;
    }
}