html, body, #root, #container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#container {
    overflow-y: auto;
}

.drag_able-block {
    position: relative;
    border: 1px dashed transparent;
    &:hover {
        border-color: #dfdfdf;
    }
    &.noDrag {
        &:hover {
            border: 1px dashed transparent;
        }
    }
    .backdrop {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1020;
        //background-color: #a9a9a9;
        //opacity: 0.5;
    }
    .rdw-editor-toolbar {
        position: absolute;
        width: 700px;
        height: 80px;
        bottom: 100%;
        z-index: 1030;
        cursor: default;
    }
    .rdw-editor-main {
        cursor: text;
        position: relative;
        z-index: 1025;
    }
}

.drag_able-text {
    .rdw-editor-main {
        cursor: move;
    }
    &:focus {
        border: 1px solid #dfdfdf;
        outline: #a6c7ff;
    }
    &.editing {
        .rdw-editor-main {
            cursor: text;
        }
    }
}