@import '../../assets/styles/_variable.scss';

.editArea-wrap {
    width: 800px;
    float: left;
    min-height: 800px;
    margin: 100px 0;
    > h2 {
        line-height: 50px;
        border-bottom: 1px solid #d3d3d3;
    }
}

.editArea {

}

.editArea-content-models {
    /*display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;*/
    a {
        float: left;
        margin-right: 30px;
        margin-top: 30px;
        position: relative;
        &:hover {
            border-color: #000;
            &:after {
                position: absolute;
                content: attr(data-pseudo-title);
                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 160px;
            }
        }
    }
}