<div class="cities">
    <div ng-if="isshowarea === true">
        <postarea isshowarea="isshowarea"></postarea>
    </div>
    <div ng-if="isshowarea !== true">
        <div class="hotcities">
            <section>
                <h1>热门城市</h1>
                <p>目前定位城市：<em>{{city.cityname}}</em></p>
            </section>
            <ul>
                <li> <a ng-click="setcity({cityid: '00', citypy: 'zongzhan', cityname: '总站'})">总站</a> </li>
                <li ng-repeat="(a,b) in cities.hotcities"><a ng-click="setcity(b)">{{b.cityname}}</a> </li>
            </ul>
        </div>
        <div class="province">
            <section>
                <h1>按所在省份查找</h1></section>
            <ul>
                <li ng-repeat="(key,a) in cities.cities "> <a ng-click="scrollTo(key)">{{a.name}}</a> </li>
            </ul>
        </div>
        <div ng-repeat="(key,d) in cities.cities" id="{{'province'+key}}">
            <section>
                <h1>{{d.name}}</h1>
                <p>{{d.name}}省下面的城市</p>
            </section>
            <ul>
                <li ng-repeat="c in d"><a ng-click="setcity(c)" ng-style="c.ifhot === '1' && {'color':'red','text-decoration':'underline'} ">{{c.cityname}}</a></li>
            </ul>
        </div>
    </div>
</div>
