<div class="search">
    <search-bar></search-bar>
    <div class="searchItem" ng-repeat="item in searchData | orderBy:item.begintime:reverse " ui-sref="index.info({infoid:item.uri.substring(7)})">
        <div ng-if="item.img_path.length>0" class="searchItemImg">
            <!-- 没有远端数据使用假数据替代 -->
            <!-- <img src="" alt=""> -->
            <img src="mock/img/pre_1484540313t64on.jpg" alt="">
        </div>
        <div class="searchItemText">
            <p class="searchItemTitle">{{item.title}}</p>
            <p class="searchItemContent">{{item.content}}</p>
            <div class="searchItemOtherInfo">
                <span class="infotime">{{item.begintime*1000 | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                <span class="infoAddress"><i class="iconfont icon-wjg-dt"></i>{{item.cityname}}-{{item.areaname}}</span>
            </div>
        </div>
    </div>
    <button class="commonButton" ng-click="searchMore()"> search more</button>
</div>
