@import '../../assets/styles/_variable.scss';

.demoArea-wrap {
    width: 360px;
    //float: left;
    height: 100%;
    padding: 20px;
    //overflow-y: auto;
    //margin: 100px 0;
    position: absolute;
    box-shadow: 1px 1px 6px 1px #b9b9b9;
    > h2 {
        line-height: 50px;
        border-bottom: 1px solid #d3d3d3;
    }
}

.demoArea {
}

.demoArea-content-models {
    /*display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;*/
    a {
        float: left;
        margin-right: 30px;
        margin-top: 30px;
        position: relative;
        border-color: #000;
        &:after {
            position: absolute;
            content: attr(data-pseudo-title);
            width: 100%;
            height: 100%;
            text-align: center;
            display: block;
            //line-height: 160px;
        }
        /*&:hover {

        }*/
    }
}