@import '../../assets/styles/_variable.scss';

$width: 320;
$header-height: 64;
$footer-height: 64;

.viewport-wrap {
    //float: left;
    position: absolute;
    margin: -400px -233.5px;
    width: 467px;
    height: 800px;
    background: url('../../assets/images/devices-sprite.jpg') 0 0 no-repeat / 467px;
    left: 50%;
    top: 50%;
}

.viewport {
    margin: 85px auto;
    width: $width+px;
    height: $width*1.775+px;
    background: #fff;
    position: relative;
}

.viewport-content-wrap {
    clear: both;
}

.viewport-status-bar {
    display: block !important;
    position: absolute;
    background-color: transparent;
    padding: 5px 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 999;
}

.viewport-header {
    left: 0;
    top: 0;
    z-index: 10;
    //display: block;
    width: 100%;
    height: $header-height+px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #d3d3d3;
    //line-height: $header-height+px;
    text-align: center;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    h1 {
        width: 33.333333333333%;
        //float: left;
        height: 48px;
        line-height: 48px;
    }
}

.viewport-footer {
    height: $footer-height+px;
    background-color: #f8f8f8;
    border-top: 1px solid #d3d3d3;
    position: relative;
    .viewport-footer-add-btn-wrap {
        transform: scale(0);
        display: block;
        position: absolute;
        width: $footer-height/2 +px;
        height: $footer-height/2 +px;
        right: $footer-height/4 + px;
        top: $footer-height/4 + px;
        z-index: 1100;
        white-space: pre;
        transition: transform .3s ease-in;
        &.active {
            transform: scale(1);
        }
    }
    //overflow: hidden;
    .viewport-footer-add-btn {
        display: block;
        position: absolute;
        width: $footer-height/2 +px;
        height: $footer-height/2 +px;
        color: #fff;
        background-color: $mainThemeColor;
        &.active {
            transform: scale(1);
        }
    }
}

.viewport-content-wrap {
    position: relative;
    overflow: hidden;
    .viewport-content {
        //margin-top: 64px;
        position: relative;
        height: ($width*1.775-($header-height+$footer-height))+ px;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: #e8e8e8;

    }
    &.active .noticeMask {
        display: block;
    }
    .noticeMask {
        display: none;
        width: 100%;
        height: 100%;
        border: 5px dashed #f44336;
        opacity: 0.5;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        &.active {
            border-color: green;
        }
    }

}

.viewport-axis-wrap {
    .viewport-axis-item {
        position: absolute;
        z-index: 99999;
        &.axis-x {
            border-right: 1px dashed red;
            height: 100%;
            //width: 1px;
            top: 0;
        }
        &.axis-y {
            border-top: 1px dashed red;
            width: 100%;
            //height: 1px;
            left: 0;
        }
    }
}