.modal {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal-backdrop {
        background-color: rgba(0, 0, 0, .5);
        width: 100%;
        height: 100%;
        z-index: -1;
        position: absolute;
    }

    @media screen and (min-width: 375px) and (max-width: 1080px) {
        .modal-wrap {
            width: 85%;
        }
    }

    @media screen and (min-width: 1080px) {
        .modal-wrap {
            width: 50%;
        }
    }

    .modal-wrap {
        background-color: #fff;
        max-height: 80%;
        min-height: 211px;
        padding: 0 10px 10px 10px;
        border-radius: 5px;
        position: relative;
        display: flex;
        flex-direction: column;
        .modal-head {
            position: relative;
            line-height: 40px;
            margin-bottom: 10px;
            border-bottom: 1px solid #dfdfdf;
            font-size: 20px;
            .modal-close {
                position: absolute;
                right: 0;
                top: 10px;
                cursor: pointer;
                text-align: center;
                width: 20px;
                color: #a9a9a9;
                height: 20px;
                line-height: 20px;
                &:hover {
                    color: #000;
                }
            }
        }
        .modal-content {
            overflow-y: auto;
            min-height: 100px;
        }
        .modal-actions {
            margin-top: 10px;
            //position: absolute;
            //bottom: 10px;
            width: 100%;
            //left: 0;
            //padding: 0 10px;
        }
    }
}