// scss variable

/* 主题色 */
$themeColor:#0b9444;
/* 次主题色 */
$subThemeColor:#75f26a;
/* 高亮色 */
$highlightColor:#e8204e;
/* 主字色 */
$mainFontColor:#000;
/* 次字色 */
$subFontColor:#666;

/* 主字号 */
$mainFontSize:30px;
/* 次字号 */
$subFontSize:25px;

/* 边框色 */
$borderColor:#eaeaea;