html, body, #root, #container {
    position: absolute;
    width: 100%;
    height: 100%;
}

#container {
    overflow-y: auto;
}

#content {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 64px;
    overflow-x: hidden;
    overflow-y: auto;
}

.slick-list, .slick-slider, .slick-track {
    height: 100%;
}

.slick-track {}

/*.slick-track:before, .slick-track:after {
    white-space: nowrap;
    font-size: 0;
    //display: none;
}*/

.slick-slider .slick-dots {
    bottom: 0
}

.slick-slider .slick-list, .slick-slider .slick-track {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

#footer {
    width: 100%;
    position: fixed;
    height: 50px;
    bottom: 0;
    border-top: 1px solid #dfdfdf;
    background-color: #fff;
    z-index: 1000;
    .content-item {
        float: left;
        height: 100%;
        text-align: center;
        position: relative;
        z-index: 1000;
        background-color: #fff;
        & >div> ul:after {
            content: '';
            position: absolute;
            height: 100%;
            top: 0;
        }
        &:nth-child(1) >div> ul:after {
            border-right: 1px solid #dfdfdf;
            right: -1px;
        }

        &:nth-child(2) > div {
            border-left: 1px solid #dfdfdf;
            border-right: 1px solid #dfdfdf;
        }
        &:nth-child(2) > div>ul {
            border-right: 1px solid #dfdfdf;
        }
        &:nth-child(2) >div> ul:after {
            border-left: 1px solid #dfdfdf;
            left: 0;
        }

        &:nth-child(3) >div{
            border-right: 1px solid #dfdfdf;
        }
        &:nth-child(3) >div> ul {
            border-right: 1px solid #dfdfdf;
        }
        &:nth-child(3) >div> ul:after {
            border-left: 1px solid #dfdfdf;
            left: -1px;
        }

        &:last-child >div{
            border-right: none;
        }
        &:last-child >div> ul {
            border-right: none;
        }
        &:last-child >div> ul:after {
            border-left: 1px solid #dfdfdf;
            left: -1px;
        }
        /*> a:not(:last-child):after {
            content: '';
            position: absolute;
            height: 100%;
            border-right: 1px solid #dfdfdf;
            right: 0;
            top: 0;
        }*/
        a {
            display: block;
            width: 100%;
            height: 100%;
            font-size: 15px;
            line-height: 50px;
            position: relative;
        }
        > div>ul {
            width: 100%;
            position: absolute;
            z-index: 1001;
            bottom: 50px;
            background-color: #fff;
            //border-left: 1px solid #dfdfdf;
            //border-right: 1px solid #dfdfdf;
            li {
                border-top: 1px solid #dfdfdf;
            }
        }
    }
}
.textEllipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}