<div class="currentPath">当前位置：教学联合体&nbsp;&gt;&nbsp;{{selectedA.value.name}}&nbsp;&gt;&nbsp;{{selectedB.value}}</div>
<div class="lianhetiContent">
    <div class="contentMain">
        <baidumap status="{{selectedB.value}}"></baidumap>
    </div>
    <div class="sidebar">
        <div class="sidebarHead">
            <h1>湖北省</h1>
            <ui-select ng-model="selectedA.value" theme="select2">
                <ui-select-match>
                    {{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices repeat="item in citys track by item.name">
                    {{item.name}}
                </ui-select-choices>
            </ui-select>
            <ui-select ng-model="selectedB.value" theme="select2">
                <ui-select-match>
                    {{$select.selected}}
                </ui-select-match>
                <ui-select-choices repeat="i in selectedA.value.district track by i">{{i}}</ui-select-choices>
            </ui-select>
        </div>
        <div class="infoStatistics">
            <h3>目前已建成1<!-- {{infoStatistics.fenxiao}} -->个分校</h3>
            <h3>{{infoStatistics.lianheti}}个教学联合体 有{{infoStatistics.jiaoshi}}名教师</h3>
            <h3>{{infoStatistics.xuesheng}}名学生，<!-- {{infoStatistics.xueke}} -->4个学科</h3>
            <h3>已完成{{infoStatistics.zhiboke}}节互动直播课</h3>
            <a target="_blank" class="toMngKb" href="http://118.26.134.85:8080/jymis/xxlogin.jsp">课表</a>
        </div>
        <div class="filterContent" ng-show="!showSchool">
            <div class="listItem" ng-repeat="i in oFilterValue">
                <h1 class="listItemTitle"><span>{{$index +1}}</span><p>{{i.sName}}</p></h1>
                <div class="listItemContent infoStatistics">
                    <!-- <p>{{i.cityInfo[0]}}个分校</p> -->
                    <p>{{i.fenxiao}}个分校</p>
                    <!-- <p>{{i.jiaoxuedian}}个教学联合体</p> -->
                    <p>{{i.jiaoshi}}名教师</p>
                    <p>{{i.xuesheng}}名学生</p>
                    <p>{{i.xueke}}个学科</p>
                    <div>已完成{{i.zhiboke}}节互动直播课</div>
                </div>
            </div>
        </div>
        <div class="filterContent" ng-show="showSchool">
            <div ng-mouseover="highLight($index)" ng-mouseout="removeHighLight($index)" ng-click="setCurrentLianheti(i.sName)" class="listItem schoolListItem" ng-repeat="i in oFilterValue">
                <h1 class="listItemTitle"><span>{{$index +1}}</span><a href="#/index/lianheti" ui-sref="index.lianheti">中心校：湖北省{{i.sName}}</a></h1>
                <div class="listItemContent infoStatistics">
                    <p class="jiaoxuedianItem" ng-repeat="b in i.jiaoxuedian">教学点：{{b.jiaoxuedianName}}</p>
                    <p class="xueke">开设学科: <span ng-repeat="c in i.xueke">{{c}}&nbsp;</span></p>
                    <p class="xuesheng"><span>{{i.xuesheng}}名学生</span>&nbsp;&nbsp;<span>已完成{{i.zhiboke}}节互动直播课</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
