/*colors*/

$themeColor: #2196F3;
$disabledBgColor: #d1d1d1;
$disabledColor: #b0b0b0;

$defaultColor: #e0e0e0;
$defaultHoverColor: #d5d5d5;
$defaultActiveColor: #9e9e9e;

$primaryColor: #2196F3;
$primaryHoverColor: #42A5F5;
$primaryActiveColor: #64B5F6;
$primaryFocusColor: #1976D2;

$warningColor: #FFC107;
$warningHoverColor: #FFCA28;
$warningActiveColor: #FFD54F;
$warningFocusColor: #FFA000;

$dangerColor: #F44336;
$dangerHoverColor: #EF5350;
$dangerActiveColor: #E57373;
$dangerFocusColor: #D32F2F;

/*colors end*/
/*fonts*/
$fontFamily: "Microsoft Yahei";
$fontSize: 14px;
$fontSizeSub: 12px;
$fontSizeTitle: 20px;

/*fonts end*/

$basePadding: 6px;
$basicHeight: 40px;
$basicLineHeight: 40px;

