<table class="lianhetiTeacher_table">
    <thead>
        <tr>
            <td>姓名</td>
            <td>性别</td>
            <td>年龄</td>
            <td>学校</td>
            <td>教授课程</td>
            <td>简介</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>廖玖玖</td>
            <td>女</td>
            <td>34</td>
            <td>二号桥小学</td>
            <td>音乐</td>
            <td>学历：本科，职称：中小学一级</td>
        </tr>
        <tr>
            <td>余婧</td>
            <td>女</td>
            <td>22</td>
            <td>二号桥小学</td>
            <td>语文/英语</td>
            <td>学历：专科，教学特长：善于使用游戏教学，丰富课堂</td>
        </tr>
        <tr>
            <td>陈德安</td>
            <td>男</td>
            <td>51</td>
            <td>大幕乡蔡桥点</td>
            <td>语文/数学</td>
            <td>从教33年，一直扎根在较为偏僻的大幕山区蔡桥教学点。2013年被咸安区教育局评为十佳师德标兵，2014年被咸宁市教育局评为十佳师德标兵，2015年被湖北省工会评为十佳师德标兵，2015年湖北五一劳动奖章获得者</td>
        </tr>
        <tr>
            <td>朱妮</td>
            <td>女</td>
            <td>28</td>
            <td>大幕桃花尖点</td>
            <td>数学/音乐</td>
            <td>学历：大专，为教学点同步课堂助教老师，主要负责二年级和三年级音乐同步课堂的对接工作</td>
        </tr>
        <tr>
            <td>陈梦君</td>
            <td>女</td>
            <td>25</td>
            <td>大幕桃花尖点</td>
            <td>语文/英语</td>
            <td>学历：本科，为教学点同步课堂助教老师，主要负责二年级和三年级音乐同步课堂的对接工作</td>
        </tr>
    </tbody>
</table>
