<table class="lianhetiTeacher_table">
    <thead>
        <tr>
            <td>姓名</td>
            <td>性别</td>
            <td>年龄</td>
            <td>学校</td>
            <td>教授课程</td>
            <td>简介</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>朱丹丹</td>
            <td>女</td>
            <td>28</td>
            <td>马桥镇垅口点</td>
            <td>语文/数学</td>
            <td>教态大方，充满童趣，亲和力强，喜欢与学生交流，能运用生活实践与教材相结合。</td>
        </tr>
        <tr>
            <td>刘菊英</td>
            <td>女</td>
            <td>54</td>
            <td>马桥镇垅口点</td>
            <td>语文/数学</td>
            <td>教学技能深厚，经验丰富。能运用大量示例让学生易懂易掌握。善于归纳总结，融会贯通，让学生学有所成.。教态自然可亲，语言亲和，深受学生欢迎。</td>
        </tr>
        <tr>
            <td>肖克桂</td>
            <td>男</td>
            <td>58</td>
            <td>马桥镇盘山点</td>
            <td>语文/数学</td>
            <td>学历：高中</td>
        </tr>
        <tr>
            <td>王汉凤</td>
            <td>女</td>
            <td>55</td>
            <td>马桥镇盘山点</td>
            <td>语文/数学</td>
            <td>学历：高中</td>
        </tr>
        <tr>
            <td>镇咸龙</td>
            <td>男</td>
            <td>50</td>
            <td>马桥镇盘山点</td>
            <td>语文/数学</td>
            <td>学历：中师</td>
        </tr>
        <tr>
            <td>查茜茜</td>
            <td>女</td>
            <td>23</td>
            <td>南门小学</td>
            <td>音乐</td>
            <td>学历：专科，从事小学音乐教学工作。教学理念：音乐涤荡人们的心灵。</td>
        </tr>
        <tr>
            <td>但朝霞</td>
            <td>女</td>
            <td>34</td>
            <td>南门小学</td>
            <td>英语</td>
            <td>中小学一级教师，曾获得湖北省英语电教论文一等奖，咸安区教学常规先进个人称号。教学理念：爱是教学成功的基础，创新是教育的希望。</td>
        </tr>
        <tr>
            <td>金星</td>
            <td>女</td>
            <td>23</td>
            <td>南门小学</td>
            <td>美术</td>
            <td>本科，教学理念：艺术来源于生活。</td>
        </tr>
        <tr>
            <td>秦莉</td>
            <td>女</td>
            <td>33</td>
            <td>南门小学</td>
            <td>英语</td>
            <td>本科，中小学一级教师，教学理念：关爱的阳光不止普照鲜花，温馨的雨露也要洒遍小草。</td>
        </tr>
    </tbody>
</table>
