* {
	margin: 0;
	padding: 0;
}

#canvasWrap {
	width: 100%;
	height: auto;
	overflow-x: auto;
	overflow-y: hidden;
}

#cv1 {
	display: none;
	width: 100%;
	border: 1px solid #696969;
	border-left: none;
	border-right: none;
	margin-top: 100px;
}

#propertyPanel {
	border: 1px solid #dfdfdf;
	width: 300px;
	margin: 50px;
	padding: 20px;
}

#propertyPanel > div {
	overflow: hidden;
	display: block;
	margin-top: 10px;
}

#propertyPanel > div > span {
	float: left;
}

#propertyPanel > div > input {
	float: right;
}