* {
	margin: 0;
	padding: 0;
}

#manipulationWrap {
	margin-top: 100px;
	/*display: inline-block;*/
	padding-left: 20px;
	margin-bottom: 20px;
}

#manipulationWrap button {
	width: 80px;
	height: 40px;
	cursor: pointer;
}

#canvasWrap {
	width: 100%;
	height: auto;
	overflow-x: auto;
	overflow-y: hidden;
	/*margin-top: 100px;*/
}

#cv1 {
	display: none;
	width: 100%;
	border: 1px solid #696969;
	border-left: none;
	border-right: none;
}

#propertyPanel {
	border: 1px solid #dfdfdf;
	width: 300px;
	margin: 50px;
	padding: 20px;
}

#propertyPanel > div {
	overflow: hidden;
	display: block;
	margin-top: 10px;
}

#propertyPanel > div > span {
	float: left;
}

#propertyPanel > div > input {
	float: right;
}