@import '../../assets/styles/_variable.scss';

.viewport-wrap {
    //float: left;
    display: table;
    position: relative;
    margin: 100px auto;
    width: 467px;
    //height: 800px;
}

.viewport {
    margin: 0 auto;
    width: 370px;
    height: auto;
    background: #fff;
    box-shadow: 1px 1px 5px 1px #929292;
    position: relative;
    //overflow-y: auto;
    padding: 0 25px;
    &.active .noticeMask {
        display: block;
    }
    .viewport-content {
        background: #f5f5f5;
        min-height: 100%;
        width: 320px;
        //overflow-x: hidden;
        //display: flex;
        .drag_able-block {
            width: 100%;
            min-height: 50px;
            //border: 1px dashed gray;
            background-color: white;
            cursor: move;
            opacity: 1;
            /*-webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;*/
            &:hover {
                //border: 1px dashed #dfdfdf;
            }
        }
    }
    .noticeMask {
        display: none;
        width: 100%;
        height: 100%;
        border: 5px dashed #f44336;
        opacity: 0.5;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        &.active {
            border-color: green;
        }
    }
}
