.clear-fix {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.pull-center {
    margin: 0 auto;
    float: none !important;
}

.display-block {
    display: block;
}

.display-inline-block {
    display: inline-block;
}

.display-table {
    display: table;
}

.display-table-row {
    display: table-row;
}

.display-table-cell {
    display: table-cell;
}

.height-full {
    height: 100%;
}

.width-full {
    width: 100%;
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

.position-fixed {
    position: fixed;
}

.position-static {
    position: static;
}
.position-sticky {
    position: sticky;
}

.hidden-hidden {
    overflow: hidden;
}
