.richTextPage {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: #fff;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    header {
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-bottom: 1px solid #dfdfdf;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        a {
            float: left;
            display: block;
            width: 15%;
            font-size: 15px;
        }
        h2 {
            float: left;
            width: 70%;
        }
    }
    > div {
        overflow-x: hidden;
        position: absolute;
        width: 100%;
        height: auto;
        top: 50px;
        bottom: 0;
        img {
            max-width: 100%
        }
    }
    .richTextPage-content {
        padding: 10px;
        /*& > a,
        & > p,
        & > div,
        & > h1,
        & > h2,
        & > h3,
        & > h4,
        & > h5,
        & > h6,
        & > table,
        & > dl,
        & > ul,
        & > pre,
        & > form,
        & > fieldset,
        & > input,
        & > textarea,
        & > blockquote {
            width: 95%;
            margin: 0 auto;
        }*/
    }
}
