/*colors*/

$themeColor: #2196F3;

$defaultColor: #e0e0e0;
$defaultHoverColor: #d5d5d5;
$defaultActiveColor: #9e9e9e;

$primaryColor: #2196F3;
$primaryHoverColor: #42A5F5;
$primaryActiveColor: #64B5F6;

$warningColor: #FFC107;
$warningHoverColor: #FFCA28;
$warningActiveColor: #FFD54F;

$dangerColor: #F44336;
$dangerHoverColor: #EF5350;
$dangerActiveColor: #E57373;

/*colors end*/
/*fonts*/
$fontFamily: "Microsoft Yahei";
$fontSize: 14px;
$fontSizeSub: 14px;
$fontSizeTitle: 20px;

/*fonts end*/

$basicHeight: 40px;
$basicLineHeight: 40px;
