/*colors*/
$themeColor: #2196F3;
$primaryColor: #2196F3;
$primaryColorSub: #42A5F5;
$warningColor: #FFC107;
$warningColorSub: #FFCA28;
$dangerColor: #F44336;
$dangerColorSub: #EF5350;

$basicHeight: 40px;
$basicLineHeight: 40px;
$fontSize: 14px;
$fontSizeSub: 14px;
$fontSizeTitle: 20px;
