@charset "utf-8";

/*clear browsrer default style and clearFix*/

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var, i {
    font-style: normal;
    font-weight: normal;
}

ol, ul, li {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

article {
    word-break: break-all;
}

q:before, q:after {
    content: '';
}

b {
    font-weight: 700;
}

abbr, acronym {
    border: 0;
}

a {
    text-decoration: none;
    font-size: 12px;
    &:link {
        color: black
    }
    &:visited, &:hover, &:active {
        color: black
    }
}

/*去除iphone按钮样式*/

input[type='button'], input[type='submit'], input[type='reset'], textarea {
    -webkit-appearance: none;
    font-family: 'Microsoft YaHei', '微软雅黑', 'MicrosoftJhengHei', '华文细黑', STHeiti, MingLiu;
}

button {
    padding: 0;
    border-radius: 0;
    border: none;
    font-family: 'Microsoft YaHei', '微软雅黑', 'MicrosoftJhengHei', '华文细黑', STHeiti, MingLiu;
    background-color: transparent;
}

*:focus {
    outline: none;
}

input:focus, textarea:focus {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-modify: read-write-plaintext-only;
}

input[name='phone']:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    background-color: #fff;
}

textarea {
    resize: none;
}

input::-ms-clear {
    display: none;
}

html {
    //overflow: auto;
    font-family: 'Microsoft YaHei', '微软雅黑', 'MicrosoftJhengHei', '华文细黑', STHeiti, MingLiu;
}

/**
 * Scaffolding
 * --------------------------------------------------
 */

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    /*overflow: hidden;
    -ms-touch-action: pan-y;
    touch-action: pan-y;*/
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-spacing: 0;
    border-collapse: collapse;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto;
    /* 1 */
    vertical-align: top;
    /* 2 */
}

img, a {
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *  (include `-moz` to future-proof).
 */

input[type='search'] {
    -webkit-box-sizing: content-box;
    /* 2 */
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
    /* 1 */
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled], html input[disabled] {
    cursor: default;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button, select {
    text-transform: none;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `importnt` in
 * the UA stylesheet.
 */

button, input {
    line-height: normal;
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 * 4. Remove any default :focus styles
 * 5. Make sure webkit font smoothing is being inherited
 * 6. Remove default gradient in Android Firefox / FirefoxOS
 */

button, input, select, textarea {
    margin: 0;
    /* 3 */
    font-size: 100%;
    /* 2 */
    font-family: inherit;
    /* 1 */
    outline-offset: 0;
    /* 4 */
    outline-style: none;
    /* 4 */
    outline-width: 0;
    /* 4 */
    -webkit-font-smoothing: inherit;
    /* 5 */
    background-image: none;
    /* 6 */
}

legend {
    padding: 0;
    /* 2 */
    border: 0;
    /* 1 */
}

/**
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */

[hidden], template {
    display: none;
}

script {
    display: none !important;
}

body {
    //-webkit-overflow-scrolling: touch;
}
