<table class="lianhetiTeacher_table">
    <thead>
        <tr>
            <td>姓名</td>
            <td>性别</td>
            <td>年龄</td>
            <td>学校</td>
            <td>教授课程</td>
            <td>简介</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>蔡爱荣</td>
            <td>女</td>
            <td>27</td>
            <td>实验中小学</td>
            <td>数学</td>
            <td>学历：本科 教学特长：耐心，因材施教</td>
        </tr>
        <tr>
            <td>陈丹</td>
            <td>女</td>
            <td>33</td>
            <td>实验中小学</td>
            <td>音乐</td>
            <td>学历：本科 教学特长：钢琴</td>
        </tr>
        <tr>
            <td>陈麟</td>
            <td>男</td>
            <td>25</td>
            <td>实验中小学</td>
            <td>数学</td>
            <td>学历：本科</td>
        </tr>
        <tr>
            <td>黄梅香</td>
            <td>女</td>
            <td>26</td>
            <td>实验中小学</td>
            <td>语文</td>
            <td>学历：本科</td>
        </tr>
        <tr>
            <td>雷红</td>
            <td>女</td>
            <td>39</td>
            <td>实验中小学</td>
            <td>美术</td>
            <td>学历：本科</td>
        </tr>
        <tr>
            <td>任黎露</td>
            <td>女</td>
            <td>29</td>
            <td>实验中小学</td>
            <td>英语</td>
            <td>学历：本科</td>
        </tr>
        <tr>
            <td>汪文静</td>
            <td>女</td>
            <td>29</td>
            <td>实验中小学</td>
            <td>英语</td>
            <td>学历：本科 教学特长：英语 语文</td>
        </tr>
    </tbody>
</table>
