<table class="lianhetiTeacher_table">
    <thead>
        <tr>
            <td>姓名</td>
            <td>性别</td>
            <td>年龄</td>
            <td>学校</td>
            <td>教授课程</td>
            <td>简介</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>陈雯雯</td>
            <td>女</td>
            <td>32</td>
            <td>外国语实验小学</td>
            <td>英语</td>
            <td>本科，外小三四年级英语教师，小学高级职称，热情开朗，爱岗敬业，沟通能力强。人生格言是：爱就是教育，没有爱便没有教育。</td>
        </tr>
        <tr>
            <td>贺娴</td>
            <td>女</td>
            <td>35</td>
            <td>外国语实验小学</td>
            <td>语文</td>
            <td>汉语言文学专业，大学本科学历，中学语文一级教师，现任教二年级语文和健康教育。本人性格开朗，严谨求实，待人热忱，爱岗敬业。自参加工作以来，一直耕耘在教学一线，钻研教材、探讨教法，注重学生的个性发展，激发学生的创造思维能力。</td>
        </tr>
        <tr>
            <td>阮春霞</td>
            <td>女</td>
            <td>42</td>
            <td>外国语实验小学</td>
            <td>美术</td>
            <td>美术专业教师，擅长美术教学，热爱小学美术教育，对待学生爱心、耐心、细心，多次辅导学生参加各级各类的比赛均取得优异的成绩，自己也屡次被评为先进教师</td>
        </tr>
        <tr>
            <td>宋保华</td>
            <td>女</td>
            <td>48</td>
            <td>外国语实验小学</td>
            <td>美术</td>
            <td>大专学历，小教高级职称。从教以来担任小学美术教学工作，教学中按照美术课程标准，运用先进的教学理念，结合多媒体信息技术，以学生发展为本，激发学生的学习兴趣，引导学生自主学习，培养学生自主、合作、探究的学习能力及观察能力、想象能力、动手能力、审美能力及创新能力。本人多次被学校评为先进工作者，所撰写的论文、讲课获区一等奖，多次组织学生参加省、市、区少儿书画比赛，均获得一、二、三等奖的好成绩</td>
        </tr>
        <tr>
            <td>周琼</td>
            <td>女</td>
            <td>30</td>
            <td>外国语实验小学</td>
            <td>音乐</td>
            <td>2010年毕业于湖北科技学院，现为咸安区外国语实验小学音乐老师。本人大学期间主修声乐，毕业时举办个人独唱音乐会。选修古筝和葫芦丝，多次参加民乐独奏与合奏。在2012_2015年工作期间多次被评为先进工作者、特色教师和优秀教师</td>
        </tr>
        <tr>
            <td>陈哲</td>
            <td>女</td>
            <td>28</td>
            <td>桂花镇刘祠点</td>
            <td>语文</td>
            <td>本科学历，预备党员，中学二级教师，教龄7年。现担任四年级班主任工作，任教四年级语文，兼任一年级数学及音乐同步课堂。勤奋不息，爱岗敬业，以精益求精的工作作风，以任劳任怨的工作态度，怀揣一颗极度热诚的心，全心全意做好本职工作。该教师于2014年度被南川村委会及管委会评为“先进工作者”</td>
        </tr>
        <tr>
            <td>梁芬</td>
            <td>女</td>
            <td>31</td>
            <td>桂花镇刘祠点</td>
            <td>语文、数学</td>
            <td>在桂花镇刘祠小学任教一年级语文、三年级数学。我在课堂中能运用灵活多样的教学方法引导学生积极参与课堂教学，让学生做课堂的主人，师生互动，积极营造一个高效的课堂，和谐的课堂</td>
        </tr>
        <tr>
            <td>吴泉</td>
            <td>女</td>
            <td>27</td>
            <td>桂花苏家坊点</td>
            <td>语文、音乐、美术</td>
            <td>本2011年在中国地质大学江城学院环境艺术设计专科毕业，2013年9月正式来到桂花镇苏家坊教学点，一直任教二年级语文，及2014年4月咸安新建的同步课堂音乐、美术课程。自从开设同步课堂，同学们和咸安碧桂园小学资源共享，对音乐和美术的热情高涨了许多，让教学点的课堂变得更加丰富多彩。。</td>
        </tr>
    </tbody>
</table>
