<table class="lianhetiTeacher_table">
    <thead>
        <tr>
            <td>姓名</td>
            <td>性别</td>
            <td>年龄</td>
            <td>学校</td>
            <td>教授课程</td>
            <td>简介</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>甘茗</td>
            <td>女</td>
            <td>32</td>
            <td>西门小学</td>
            <td>美术</td>
            <td>学历：大学本科美术学专业，教学特长：水彩与素描。</td>
        </tr>
        <tr>
            <td>黄强</td>
            <td>男</td>
            <td>39</td>
            <td>西门小学</td>
            <td>美术</td>
            <td>学历：大学专科， 教学特长：擅长书法、素描</td>
        </tr>
        <tr>
            <td>吕志元</td>
            <td>女</td>
            <td>33</td>
            <td>西门小学</td>
            <td>音乐</td>
            <td>学历：大学本科音乐专业，教学特长：声乐、钢琴、舞蹈等</td>
        </tr>
        <tr>
            <td>孙一帆</td>
            <td>女</td>
            <td>24</td>
            <td>西门小学</td>
            <td>英语</td>
            <td>学历：大学专科英语教育，教学特长：语言教学</td>
        </tr>
        <tr>
            <td>陈甘石</td>
            <td>男</td>
            <td>33</td>
            <td>大幕南山初小</td>
            <td>美术</td>
            <td>学历：大学专科美术专业，教学特长：擅长素描</td>
        </tr>
        <tr>
            <td>李翠萍</td>
            <td>女</td>
            <td>29</td>
            <td>大幕南山初小</td>
            <td>语文、英语</td>
            <td>学历：大学本科英语教育专业，教学特长：语言教学</td>
        </tr>
        <tr>
            <td>张海燕</td>
            <td>女</td>
            <td>29</td>
            <td>大幕乡学堂点</td>
            <td>语文</td>
            <td>学历：大专（自修本科），教学特长：生字教学</td>
        </tr>
    </tbody>
</table>
