<table class="lianhetiTeacher_table">
    <thead>
        <tr>
            <td>姓名</td>
            <td>性别</td>
            <td>年龄</td>
            <td>学校</td>
            <td>教授课程</td>
            <td>简介</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>陈易</td>
            <td>女</td>
            <td>26</td>
            <td>汀泗大坪小学</td>
            <td>语文</td>
            <td>学历：大专，课堂中能运用灵活多样的教学方法引导学生积极参与课堂教学，让学生做课堂的主人</td>
        </tr>
        <tr>
            <td>李娟</td>
            <td>女</td>
            <td>34</td>
            <td>浮山中小学</td>
            <td>专递英语</td>
            <td>学历：本科，熟练运用多媒体，引导学生在游戏、活动中学习英语，营造出轻松、活泼的课堂气氛，让学生快乐学习。</td>
        </tr>
        <tr>
            <td>鲁建枝</td>
            <td>男</td>
            <td>30</td>
            <td>浮山中小学</td>
            <td>美术</td>
            <td>学历：本科，具有深厚的教育教学理论做支撑，有着扎实的教育教学基本功，课堂中能运用灵活多样的教学方法引导学生积极参与课堂教学</td>
        </tr>
        <tr>
            <td>毛本锁</td>
            <td>男</td>
            <td>29</td>
            <td>浮山中小学</td>
            <td>专递课管理</td>
            <td>学历：本科，争取用高度的工作热情和强烈的责任心把每一个工作做好,让人放心</td>
        </tr>
        <tr>
            <td>张婵</td>
            <td>女</td>
            <td>24</td>
            <td>浮山中小学</td>
            <td>音乐</td>
            <td>职称：中二，从事小学音乐教育工作2年作</td>
        </tr>
        <tr>
            <td>晏电平</td>
            <td>男</td>
            <td>43</td>
            <td>汀泗桥镇花纹小学</td>
            <td>语文/数学</td>
            <td>从事多年的山区小学教育,具有扎实的小学语数学科的教学基本功和丰富的教学经验。兼具品德、音乐、美术、体育等学科的教学技能，符合教学点全科教师的要求</td>
        </tr>
    </tbody>
</table>
