<div class="centerschool">
    <div class="centerschool_mediaObject">
        <img src="../../dist/img/lianhetiImg/{{currentLianheti.schoolInfo.lianhetiId}}/zxd.jpg" class="centerschool_mediaObject_img" />
        <div class="centerschool_mediaObject_info">
            <h1 class="centerschool_mediaObject_schoolName"><b>中心校：</b><span>{{currentLianheti.schoolName}}</span></h1>
            <div class="centerschool_mediaObject_schoolIntro"><b>学校简介：</b><span>{{currentLianheti.schoolInfo.lianhetiIntro}}</span></div>
        </div>
    </div>
    <tab>
        <tabbody class="centerschool_teacher" headtitle="教师">
            <img src="../../dist/img/lianhetiImg/{{currentLianheti.schoolInfo.lianhetiId}}/zxdjs.jpg" alt="" />
        </tabbody>
        <tabbody class="centerschool_kebiao" headtitle="课表">content2</tabbody>
    </tab>
</div>
