<div class="currentPath">当前位置：<a ui-sref="index">教学联合体</a>&nbsp;&gt;&nbsp;<a ui-sref="index">{{selectedA.value.name}}</a>&nbsp;&gt;&nbsp;<a ui-sref="index">{{selectedB.value}}</a>&nbsp;&gt;&nbsp;<a ui-sref="index.lianheti">联合体详情</a>&nbsp;&gt;&nbsp;{{currentJiaoxuedian.jiaoxuedianName}}</div>
<div class="centerschool">
    <div class="centerschool_mediaObject">
        <img src="dist/img/lianhetiImg/{{currentLianheti.schoolInfo.lianhetiId}}/jxd{{(currentLianheti.schoolInfo.jiaoxuedian.indexOf(currentJiaoxuedian)) + 1}}.jpg" class="centerschool_mediaObject_img" />
        <div class="centerschool_mediaObject_info">
            <h1 class="centerschool_mediaObject_schoolName"><b>教学点名称：</b><span>{{currentJiaoxuedian.jiaoxuedianName}}</span></h1>
            <div class="centerschool_mediaObject_schoolIntro"><b>教学点简介：</b><span>{{currentJiaoxuedian.jiaoxuedianIntro}}</span></div>
        </div>
    </div>
    <tab>
        <tabbody class="centerschool_teacher" headtitle="教师">
            <div ui-view="teacher@content"></div>
        </tabbody>
        <tabbody class="centerschool_kebiao" headtitle="课表">
            <div ui-view="kebiao@content"></div>
        </tabbody>
    </tab>
</div>
