@import "variable";

/*

html,
body {
    font-family: "Microsoft YaHei", '微软雅黑', "MicrosoftJhengHei", '华文细黑', STHeiti, MingLiu;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    font-size: 30px;
    position: relative;
    min-height: 100%;
}

img {
    display: block;
    margin: 0 auto;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: $mainFontSize;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 23px;
}

header {
    top: 0;
    border-bottom: 1px solid #d7d7d7;
    input {
        float: left;
        width: 90%;
        height: 70px;
        border: none;
        padding-left: 20px;
    }
    button {
        width: 10%;
        height: 70px;
        border: none;
        background-color: #fff;
        font-size: 45px;
    }
}

header,
footer {
    position: fixed;
    left: 0;
    width: 100%;
    height: 89px;
    z-index: 9;
    text-align: center;
    background-color: #fff;
}
*/

#root, .content {
    position: absolute;
    width: 100%;
    height: 100%;
}
