@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html, body, #tgApp {
    height: 100%;
    width: 100%;
}

.home {
    height: 100%;
}

.scroll-content {
    position: absolute;
    height: auto;
    width: 100%;
    overflow: hidden;
    &.top {
        top: 90px;
    }
    &.bottom {
        bottom: 90px;
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
}

.category{
    font-size: 20px;
}