@charset "utf-8";

/*
*   css document
*   by JOY in Sigbit
*   2016/03/29
*/


/*clear browsrer default style and clearFix and gradient*/

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset,
img {
    border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}
ol,
ul,
li {
    list-style: none;
}
caption,
th {
    text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before,
q:after {
    content: '';
}
abbr,
acronym {
    border: 0;
}
a {
    font-size: 12px;
}
a:link {
    color: black
}
a:visited {
    color: black
}
a:hover {
    color: #000;
}
a:active {
    color: black
}
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    zoom: 1;
}

/*去除iphone按钮样式*/

input[type="button"],
input[type="submit"],
input[type="reset"],
textarea {
    -webkit-appearance: none;
    font-family: "Microsoft Yahei", "微软雅黑", "SimSun", "宋体";
}
button {
    border-radius: 0;
    border: none;
    font-family: "Microsoft Yahei", "微软雅黑", "SimSun", "宋体";
}
input:focus,
textarea:focus {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-modify: read-write-plaintext-only;
}
textarea {
    resize: none;
}
input::-ms-clear {
    display: none;
}
.textAlignCenter {
    text-align: center;
}
html,
body,
.container {
    font-size: 15px;
    font-family: "Microsoft Yahei", "微软雅黑", "SimSun", "宋体";
    width: 100%;
    height: 28.175rem;
    /*height: 100%;*/
    position: relative;
    min-width: 320px;
    background-color: #59cedf;
    overflow-x: hidden;
}
.cover {
    width: 13.775rem;
    padding: 1.375rem 0.7rem;
    margin: 0 auto;
    background: transparent url(../img/coverBg.png) 0 0 no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    /*overflow: hidden;*/
}
.bg_img_slogan,
.bg_img_tianjinboxs,
.bg_decr_stripes,
.title_txt_section,
.rule_txt_secion,
.rule_bg_img,
.bottom_img_bg {
    position: absolute;
}
.bg_img_slogan {
    left: 1.175rem;
    top: 1.875rem;
    display: block;
    width: 13.875rem;
    z-index: 30;
}
.bg_img_tianjinbox1 {
    left: 1.125rem;
    top: 7.65rem;
    width: 2.95rem;
}
.bg_img_tianjinbox2 {
    width: 1.85rem;
    left: 13.275rem;
    top: 2.05rem;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
}
.bg_img_tianjinbox3 {
    width: 1.35rem;
    left: 11.25rem;
    top: 0.5rem;
    -webkit-transform: rotate(118deg);
    -moz-transform: rotate(118deg);
    -ms-transform: rotate(118deg);
    -o-transform: rotate(118deg);
    transform: rotate(118deg);
}
.bg_img_tianjinbox4 {
    width: 0.85rem;
    left: 2.225rem;
    top: 4.925rem;
    -webkit-transform: rotate(-23deg);
    -moz-transform: rotate(-23deg);
    -ms-transform: rotate(-23deg);
    -o-transform: rotate(-23deg);
    transform: rotate(-23deg);
}
.bg_decr_stripes {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: 10;
    border-radius: 0.5rem;
}
.bg_decr_stripe1 {
    background-color: #bd0e9b;
    width: 4.65rem;
    height: 0.5rem;
    top: 1rem;
    left: -1rem;
    z-index: 20;
}
.bg_decr_stripe2 {
    background-color: #990ef3;
    width: 4.65rem;
    height: 0.5rem;
    top: 2rem;
    left: -1.5rem;
}
.bg_decr_stripe3 {
    background: #fde121;
    background: -moz-linear-gradient(left, #fde121 0%, #f49b2d 100%);
    background: -webkit-linear-gradient(left, #fde121 0%, #f49b2d 100%);
    background: linear-gradient(to right, #fde121 0%, #f49b2d 100%);
    width: 5.3rem;
    height: 0.775rem;
    top: 5rem;
    left: 12.5rem;
}
.bg_decr_stripe4 {
    background-color: #9411e0;
    width: 3.65rem;
    height: 0.3rem;
    top: 8.3rem;
    left: 12.5rem;
}
.bg_decr_stripe5 {
    background-color: #bd0e9b;
    width: 4.65rem;
    height: 0.5rem;
    top: 14rem;
    left: -2.8rem;
}
.bg_decr_stripe6 {
    background: #fde121;
    background: -moz-linear-gradient(left, #fde121 0%, #f49b2d 100%);
    background: -webkit-linear-gradient(left, #fde121 0%, #f49b2d 100%);
    background: linear-gradient(to right, #fde121 0%, #f49b2d 100%);
    width: 4.65rem;
    height: 1.075rem;
    top: 14.5rem;
    left: -1.8rem;
}
.bg_decr_stripe7 {
    background-color: #bd0e9b;
    width: 4.65rem;
    height: 0.725rem;
    top: 17.5rem;
    left: 13.2rem;
}
.title_txt_section {
    width: 10.25rem;
    height: 1.275rem;
    background-color: #fee418;
    border: 0.1rem solid #e65c7a;
    border-radius: 0.3rem;
    left: 3.725rem;
    top: 8.075rem;
    color: #4900b0;
    font-size: 0.5rem;
    padding: 0.3rem 0.325rem;
    z-index: 30;
}
.title_txt_section>span {
    font-weight: 700;
}
.rule_txt_secion {
    width: 12.5rem;
    padding: 0.5rem;
    left: 1.1rem;
    top: 11.125rem;
    border: 0.2rem solid #ffe904;
    border-radius: 0.3rem;
    background-color: #6a07a1;
    color: #fff;
    z-index: 30;
}
.rule_txt_secion>h1 {
    font-weight: 700;
    font-size: 0.575rem;
    margin-bottom: 0.2rem;
}
.rule_txt_secion>p {
    font-size: 0.5rem;
    margin-bottom: 0.2rem;
    line-height: 0.86rem;
}
.rule_txt_secion>p:first-letter {
    font-weight: 700;
}
.rule_bg_img {
    width: 2.3rem;
    right: -1.12rem;
    bottom: -1.3375rem;
}
.bottom_img_bg{
    width: 100%;
    bottom: 0;
    left: 0;
    /*z-index: 200;*/
}
p.bottom_img_bg{
    height: 3.05rem;
    text-align: center;
    line-height: 4.2rem;
    color: #f6f747;
    font-size: 0.75rem;
}